@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Lora', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Lora', serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #b8312f !important;
}
.bg-success {
  background-color: #3d8eb9 !important;
}
.bg-info {
  background-color: #f28281 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-secondary {
  background-color: #69a42e;
  border-color: #69a42e;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #43681d;
  border-color: #43681d;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #43681d !important;
  border-color: #43681d !important;
}
.btn-info {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-success {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #365418;
  color: #365418;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #69a42e;
  border-color: #69a42e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #69a42e !important;
  border-color: #69a42e !important;
}
.btn-info-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.btn-success-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #b8312f !important;
}
.text-success {
  color: #3d8eb9 !important;
}
.text-info {
  color: #f28281 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #3d8eb9;
}
.alert-info {
  background-color: #f28281;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #b8312f;
}
.btn-social:hover {
  background: #b8312f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #b8312f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #b8312f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #b8312f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #b8312f;
}
.lead a,
.lead a:hover {
  color: #b8312f;
}
.lead blockquote {
  border-color: #b8312f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #b8312f;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#msg-box5-k P {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#msg-box5-k H3 {
  font-family: 'Oswald', sans-serif;
  color: #69a42e;
}
#msg-box5-k .btn {
  font-family: 'Oxygen', sans-serif;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #69a42e;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #69a42e;
  font-family: 'Montserrat', sans-serif;
}
#menu-d .link {
  font-size: 0.95rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #b8312f;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #e6e6e6;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-d .bg-color.transparent .link {
  color: #69a42e;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #69a42e;
}
#contacts1-e P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #5d616c;
}
#contacts1-e STRONG {
  text-align: left;
  color: #000000;
}
#contacts1-e DIV {
  text-align: left;
}











#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-0 .link {
  font-size: 0.95rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #b8312f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #a8a8a8;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header1-c .mbr-section-title {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#header1-c .mbr-section-lead {
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: #ffffff;
}
#msg-box5-1k H3 {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#msg-box5-1k P {
  font-family: 'Oxygen', sans-serif;
  color: #615d5d;
}
#features3-m H4 {
  font-family: 'Oswald', sans-serif;
  color: #000000;
  text-align: center;
}
#features3-m H5 {
  font-family: 'Oxygen', sans-serif;
  color: #615d5d;
  text-align: center;
  font-size: 16px;
}
#features3-m P {
  font-family: 'Oxygen', sans-serif;
  color: #5b5b5b;
  text-align: center;
}
#msg-box3-2u .mbr-section-title,
#msg-box3-2u p {
  color: #000;
}
#msg-box3-2u .mbr-section-title {
  font-size: 46px;
  color: #ffffff;
}
#msg-box3-1n .mbr-section-title,
#msg-box3-1n p {
  color: #000;
}
#msg-box3-1n .lead P {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-1n .lead {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-1n .mbr-section-title {
  color: #000000;
}
#contacts1-5 P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #5d616c;
}
#contacts1-5 STRONG {
  text-align: left;
  color: #000000;
}
#contacts1-5 DIV {
  text-align: left;
}













#content5-1a .mbr-section-title,
#content5-1a p {
  color: #fff;
}
#content5-1a .mbr-section-title {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#content5-1a P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#content5-2q .mbr-section-title,
#content5-2q p {
  color: #fff;
}
#content5-2q .mbr-section-title {
  text-align: center;
  color: #77ca24;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#content5-2q P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #5d616c;
}
#msg-box5-19 H3 {
  color: #69a42e;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#msg-box5-19 P {
  font-family: 'Oxygen', sans-serif;
  color: #615d5d;
}
#content5-1d .mbr-section-title,
#content5-1d p {
  color: #fff;
}
#content5-1d .mbr-section-title {
  text-align: center;
  color: #69a42e;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#content5-1d P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #5d616c;
}
#msg-box5-18 H3 {
  color: #69a42e;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#msg-box5-18 P {
  font-family: 'Oxygen', sans-serif;
  color: #615d5d;
}
#msg-box3-28 .mbr-section-title,
#msg-box3-28 p {
  color: #000;
}
#msg-box3-28 .lead P {
  color: #615d5d;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-28 .mbr-section-title {
  font-size: 36px;
  color: #69a42e;
}
#menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-p .navbar-caption {
  color: #ffffff;
}
#menu-p .navbar-toggler {
  color: #69a42e;
}
#menu-p .link,
#menu-p .dropdown-item {
  color: #69a42e;
  font-family: 'Montserrat', sans-serif;
}
#menu-p .link {
  font-size: 0.95rem;
}
#menu-p .dropdown-item,
#menu-p .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-p .link:hover,
#menu-p .dropdown-item:hover,
#menu-p .link:focus,
#menu-p .dropdown-item:focus {
  color: #b8312f;
}
#menu-p .link[aria-expanded="true"],
#menu-p .dropdown-menu {
  background: #e6e6e6;
}
#menu-p .nav-dropdown-sm .link:focus,
#menu-p .nav-dropdown-sm .link:hover,
#menu-p .nav-dropdown-sm .dropdown-item:focus,
#menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-p .navbar,
#menu-p .nav-dropdown-sm,
#menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-p .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-p .bg-color.transparent .link {
  color: #69a42e;
  transition: none;
}
#menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-p .bg-color.transparent.opened .link:hover,
#menu-p .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-p .link[aria-expanded="true"],
#menu-p .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-p .close-icon::before,
#menu-p .close-icon::after {
  background-color: #69a42e;
}
#contacts1-q P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #5d616c;
}
#contacts1-q STRONG {
  text-align: left;
  color: #000000;
}
#contacts1-q DIV {
  text-align: left;
}











#content5-1i .mbr-section-title,
#content5-1i p {
  color: #fff;
}
#content5-1i .mbr-section-title {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#content5-1i P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
  font-size: 17px;
}
#content5-1r .mbr-section-title,
#content5-1r p {
  color: #fff;
}
#content5-1r .mbr-section-title {
  text-align: center;
  color: #69a42e;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#content5-1r P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #5d616c;
}
#msg-box4-29 H3 {
  font-size: 36px;
  color: #69a42e;
}
#msg-box4-29 P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-2g H3 {
  color: #69a42e;
}
#msg-box4-2g P {
  font-family: 'Oxygen', sans-serif;
}
#content5-1t .mbr-section-title,
#content5-1t p {
  color: #fff;
}
#content5-1t .mbr-section-title {
  text-align: center;
  color: #69a42e;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#content5-1t P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #5d616c;
}
#menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s .navbar-caption {
  color: #ffffff;
}
#menu-s .navbar-toggler {
  color: #69a42e;
}
#menu-s .link,
#menu-s .dropdown-item {
  color: #69a42e;
  font-family: 'Montserrat', sans-serif;
}
#menu-s .link {
  font-size: 0.95rem;
}
#menu-s .dropdown-item,
#menu-s .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-s .link:hover,
#menu-s .dropdown-item:hover,
#menu-s .link:focus,
#menu-s .dropdown-item:focus {
  color: #b8312f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-menu {
  background: #e6e6e6;
}
#menu-s .nav-dropdown-sm .link:focus,
#menu-s .nav-dropdown-sm .link:hover,
#menu-s .nav-dropdown-sm .dropdown-item:focus,
#menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-s .navbar,
#menu-s .nav-dropdown-sm,
#menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-s .bg-color.transparent .link {
  color: #69a42e;
  transition: none;
}
#menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s .bg-color.transparent.opened .link:hover,
#menu-s .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-s .close-icon::before,
#menu-s .close-icon::after {
  background-color: #69a42e;
}
#content1-2b P {
  font-size: 13px;
}
#content1-2b DIV {
  text-align: center;
  font-size: 13px;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-t P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #5d616c;
}
#contacts1-t STRONG {
  text-align: left;
  color: #000000;
}
#contacts1-t DIV {
  text-align: left;
}





#form1-14 .form-control-label {
  color: #232323;
}
#form1-14 .mbr-section-title {
  color: #69a42e;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}
#form1-14 SMALL {
  color: #5d616c;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
#form1-14 .btn {
  font-family: 'Oxygen', sans-serif;
}
#menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-y .navbar-caption {
  color: #ffffff;
}
#menu-y .navbar-toggler {
  color: #69a42e;
}
#menu-y .link,
#menu-y .dropdown-item {
  color: #69a42e;
  font-family: 'Montserrat', sans-serif;
}
#menu-y .link {
  font-size: 0.95rem;
}
#menu-y .dropdown-item,
#menu-y .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-y .link:hover,
#menu-y .dropdown-item:hover,
#menu-y .link:focus,
#menu-y .dropdown-item:focus {
  color: #b8312f;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-menu {
  background: #e6e6e6;
}
#menu-y .nav-dropdown-sm .link:focus,
#menu-y .nav-dropdown-sm .link:hover,
#menu-y .nav-dropdown-sm .dropdown-item:focus,
#menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-y .navbar,
#menu-y .nav-dropdown-sm,
#menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-y .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-y .bg-color.transparent .link {
  color: #69a42e;
  transition: none;
}
#menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-y .bg-color.transparent.opened .link:hover,
#menu-y .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-y .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-y .close-icon::before,
#menu-y .close-icon::after {
  background-color: #69a42e;
}
#contacts1-z P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #5d616c;
}
#contacts1-z STRONG {
  text-align: left;
  color: #000000;
}
#contacts1-z DIV {
  text-align: left;
}




#content5-1j .mbr-section-title,
#content5-1j p {
  color: #fff;
}
#content5-1j .mbr-section-title {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#content5-1j P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
}
#menu-v .navbar-toggler {
  color: #69a42e;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #69a42e;
  font-family: 'Montserrat', sans-serif;
}
#menu-v .link {
  font-size: 0.95rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #b8312f;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #e6e6e6;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-v .bg-color.transparent .link {
  color: #69a42e;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #69a42e;
}
#contacts1-w P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #5d616c;
}
#contacts1-w STRONG {
  text-align: left;
  color: #000000;
}
#contacts1-w DIV {
  text-align: left;
}










#content5-1h .mbr-section-title,
#content5-1h p {
  color: #fff;
}
#content5-1h .mbr-section-title {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#content5-1h P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#msg-box5-2c H3 {
  color: #69a42e;
  font-size: 36px;
}
#msg-box5-2c P {
  font-family: 'Oxygen', sans-serif;
  color: #615d5d;
}
#content5-2j .mbr-section-title,
#content5-2j p {
  color: #fff;
}
#content5-2j .mbr-section-title {
  text-align: center;
  color: #69a42e;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#content5-2j P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #5d616c;
}
#msg-box5-2k H3 {
  color: #69a42e;
  font-size: 36px;
}
#msg-box5-2k P {
  font-family: 'Oxygen', sans-serif;
  color: #615d5d;
}
#content5-2s .mbr-section-title,
#content5-2s p {
  color: #fff;
}
#content5-2s .mbr-section-title {
  text-align: center;
  color: #77ca24;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#content5-2s P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #5d616c;
}
#msg-box3-2r .mbr-section-title,
#msg-box3-2r p {
  color: #000;
}
#msg-box3-2r .mbr-section-title {
  font-size: 46px;
  color: #69a42e;
}
#menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-11 .navbar-caption {
  color: #ffffff;
}
#menu-11 .navbar-toggler {
  color: #69a42e;
}
#menu-11 .link,
#menu-11 .dropdown-item {
  color: #69a42e;
  font-family: 'Montserrat', sans-serif;
}
#menu-11 .link {
  font-size: 0.95rem;
}
#menu-11 .dropdown-item,
#menu-11 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-11 .link:hover,
#menu-11 .dropdown-item:hover,
#menu-11 .link:focus,
#menu-11 .dropdown-item:focus {
  color: #b8312f;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-menu {
  background: #e6e6e6;
}
#menu-11 .nav-dropdown-sm .link:focus,
#menu-11 .nav-dropdown-sm .link:hover,
#menu-11 .nav-dropdown-sm .dropdown-item:focus,
#menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-11 .navbar,
#menu-11 .nav-dropdown-sm,
#menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-11 .bg-color.transparent .link {
  color: #69a42e;
  transition: none;
}
#menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-11 .bg-color.transparent.opened .link:hover,
#menu-11 .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-11 .close-icon::before,
#menu-11 .close-icon::after {
  background-color: #69a42e;
}
#contacts1-12 P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #5d616c;
}
#contacts1-12 STRONG {
  text-align: left;
  color: #000000;
}
#contacts1-12 DIV {
  text-align: left;
}
